<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This Sample App was made with the help of <a href="https://www.railstutorial.org/"target="_blank"><em>Ruby on Rails
  Tutorial.</em></a> Thanks to Michael Hartl and Joy Dev for this opportunity.
</p>